@{
    ViewData["Title"] = "EndDay Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="app-content content">
    <div class="content-overlay"></div>
    <div class="content-wrapper">
        <div class="content-header row">
        </div>
        <div class="content-body">
            <div class="float-right">
                <label for="donationinput" class="col-sm-5 col-form-label">Kasa Adı</label>
                <select id="caseId" name="caseId" style="width:300px !important;" required>
                    <option value="" selected>Lütfen bir kasa seçiniz</option>
                    @foreach (var item in ViewBag.cases as SelectList)
                    {
                        <option value="@item.Value">@item.Text</option>
                    }
                </select>
                <button id="endDay" type="button" class="btn btn-success btn-sm" onclick="endDay()" >
                    <i class="ft-plus white"></i> Gün Sonu Al
                </button>
            </div>
        </div>
    </div>
</div>

<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>

<script>
    var isCheckDay = false;
    /*var isDisable = false;
     var enableDisable = function(){
         if(isDisable == false){
            var UTC_hours = new Date().getUTCHours() +3;
            if (UTC_hours >= 23 && UTC_hours <=24){
                document.getElementById('endDay').disabled = false;
                isCheckDay = false;
            }
            else if(UTC_hours >= 0 &&  UTC_hours <= 2){
                document.getElementById('endDay').disabled = false;
                isCheckDay = true;
            }
            else
            {
                document.getElementById('endDay').disabled = true;
            }
         }
     };
    setInterval(enableDisable, 1000*60);
    enableDisable(); */

    function endDay(isCheckDay){   
      var id = parseInt($('#caseId').val());
      if(!Number.isNaN(id)){
         isDisable = true;
         document.getElementById('endDay').disabled = true;
        
         $.ajax({
         url: '/EndDay/CalculateEndDay',
         type: 'GET',
         data: {
             //Passing Input parameter
             id: id,
             isCheckDay: isCheckDay
         },
         success: function (response) {
             var id = parseInt($('#caseId').val());
             $('#caseId option[value="' + id + '"]').attr("disabled","disabled");
             document.getElementById('caseId').selectedIndex=0;
             isDisable = false;
             document.getElementById('endDay').disabled = false;
             if(response == true){
                    toastr.success("İşlem başarılı.");
             }
         },
         error: function (response) {
             isDisable = false;
         }
        });
      }      
    } 
</script>