@{
    ViewData["Title"] = "Report Case Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="app-content content">
    <div class="content-overlay"></div>
    <div class="content-wrapper">
        <div class="content-header row">
        </div>
        <div class="content-body">
            <div id="crypto-stats-3" class="row">
                @{
                    int i = 0;
                }
                @foreach (var item in ViewBag.cases)
                {
                    <div class="col-xl-4 col-12" onclick="show(@item[0])">
                        <div class="card crypto-card-3 pull-up">
                            <div class="card-content">

                                <div class="card-body pb-0">
                                    <div class="row">
                                        <div class="col-5 pl-2">
                                            <h5>@item[1]</h5>
                                            <h5 class="text-muted">Team</h5>
                                        </div>
                                        <div class="col-5 text-right">
                                            <h5>@item[2] TL</h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12"><canvas id="@i" class="height-75"></canvas></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    { i++; }
                }
            </div>

            <div class="row" id="tableCard" style="display:none !important;">
                <section id="file-export">
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header">
                                    <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
                                    <div class="heading-elements">
                                        <ul class="list-inline mb-0">
                                            <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                                            <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                                            <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                                            <li><a data-action="close"><i class="ft-x"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="card-content collapse show">
                                    <div class="card-body card-dashboard dataTables_wrapper dt-bootstrap">
                                        <table id="reportTable" class="table table-striped table-bordered file-export">
                                            <thead>
                                                <tr>
                                                    <th></th>
                                                    <th colspan="2">Akbank</th>
                                                    <th colspan="2">Albaraka</th>
                                                    <th colspan="2">DenizBank</th>
                                                    <th colspan="2">Garanti Bankası</th>
                                                    <th colspan="2">HalkBank</th>
                                                    <th colspan="2">ING</th>
                                                    <th colspan="2">KuveytTürk</th>
                                                    <th colspan="2">MFT</th>
                                                    <th colspan="2">QNB FinansBank</th>
                                                    <th colspan="2">SAHA</th>
                                                    <th colspan="2">TEB</th>
                                                    <th colspan="2">Türkiye Finans</th>
                                                    <th colspan="2">Vakıfbank</th>
                                                    <th colspan="2">YapıKredi Bankası</th>
                                                    <th colspan="2">Ziraat Bankası</th>
                                                    <th colspan="2">İş Bankası</th>
                                                    <th colspan="2">Genel Toplam</th>
                                                </tr>
                                            </thead>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>

<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/tables/datatable/datatables.min.js"></script>
<script src="~/js/tables/datatable/dataTables.buttons.min.js"></script>
<script src="~/js/tables/buttons.flash.min.js"></script>
<script src="~/js/tables/jszip.min.js"></script>
<script src="~/js/tables/pdfmake.min.js"></script>
<script src="~/js/tables/vfs_fonts.js"></script>
<script src="~/js/tables/buttons.html5.min.js"></script>
<script src="~/js/tables/buttons.print.min.js"></script>

<script>
    $(document).ready(function () {
        $('#tableCard').hide();

        $( "div>canvas" ).each(function( index ) {
                 draw(index);
        });
    });
    function show(Id){
        $.ajax({
            url: '/Report/GetAllForCase/' + Id,
            success: function (data) {
                $('#tableCard').show();
                var dataset = [];
                var accountName = "";
                var alignments = [];
                var row = [];
                var totalRow = [];
                var toplam = 0;
                var islemAdediToplam = 0;
                row.push("");
                totalRow.push("Genel Toplam");
                for(var i= 0; i < 34; i++){
                    if(i % 2){
                        row.push("0");
                        totalRow.push("0");
                    }
                    else{
                        row.push("0 TL");
                        totalRow.push("0 TL");
                    }
                    alignments.push(i+1);
                }
                row.push("");
                totalRow.push("");

                data.forEach((d,i) => {
                    if(i == 0){
                       accountName = d.account;
                    }

                    if(accountName != d.account)
                    {
                        dataset.push(row);
                        accountName = d.account;
                        row = [];
                        row.push("");
                        toplam = 0;
                        islemAdediToplam = 0;
                        for(var i= 0; i < 34; i++){
                            if(i % 2)
                              row.push("0");
                            else
                              row.push("0 TL");
                        }
                        row.push("");
                    }

                    price = d.price.toString();
                    toplam += d.price;
                    islemAdediToplam += d.processCount;

                    if(accountName == d.account)
                    {
                        row[0] = d.account;
                        if(d.accountDetail == "AkBank"){
                           row[1] = price + " TL";
                           row[2] = d.processCount.toString();

                           totalRow[1] = (parseFloat(totalRow[1].replace("TL","")) + parseFloat(price)).toString() + "TL";
                           totalRow[2] = (parseFloat(totalRow[2]) + parseFloat(d.processCount)).toString();
                        }
                        else if(d.accountDetail == "Albaraka"){
                           row[3] = price + " TL";
                           row[4] = d.processCount.toString();

                           totalRow[3] = (parseFloat(totalRow[3].replace("TL","")) + parseFloat(price)).toString() + "TL";
                           totalRow[4] = (parseFloat(totalRow[4]) + parseFloat(d.processCount)).toString();
                        }
                        else if(d.accountDetail == "DenizBank"){
                           row[5] = price + " TL";
                           row[6] = d.processCount.toString();

                           totalRow[5] = (parseFloat(totalRow[5].replace("TL","")) + parseFloat(price)).toString() + "TL";
                           totalRow[6] = (parseFloat(totalRow[6]) + parseFloat(d.processCount)).toString();
                        }
                        else if(d.accountDetail == "Garanti Bankası"){
                           row[7] = price + " TL";
                           row[8] = d.processCount.toString();

                           totalRow[7] = (parseFloat(totalRow[7].replace("TL","")) + parseFloat(price)).toString() + "TL";
                           totalRow[8] = (parseFloat(totalRow[8]) + parseFloat(d.processCount)).toString();
                        }
                        else if(d.accountDetail == "HalkBank"){
                           
                           row[9] = price + " TL";
                           row[10] = d.processCount.toString();
                           
                           totalRow[9] = (parseFloat(totalRow[9].replace("TL","")) + parseFloat(price)).toString() + "TL";
                           totalRow[10] = (parseFloat(totalRow[10]) + parseFloat(d.processCount)).toString();
                                                       
                        }
                        else if(d.accountDetail == "ING"){                           
                           row[11] = price + " TL";
                           row[12] = d.processCount.toString();

                           totalRow[11] = (parseFloat(totalRow[11].replace("TL","")) + parseFloat(price)).toString() + "TL";
                           totalRow[12] = (parseFloat(totalRow[12]) + parseFloat(d.processCount)).toString();                                                     
                        }
                        else if(d.accountDetail == "Kuveyt Türk"){                           
                           row[13] = price + " TL";
                           row[14] = d.processCount.toString();

                           totalRow[13] = (parseFloat(totalRow[13].replace("TL","")) + parseFloat(price)).toString() + "TL";
                           totalRow[14] = (parseFloat(totalRow[14]) + parseFloat(d.processCount)).toString();                                                   
                        }
                        else if(d.accountDetail == "MFT"){
                           row[15] = price + " TL";
                           row[16] = d.processCount.toString();

                           totalRow[15] = (parseFloat(totalRow[15].replace("TL","")) + parseFloat(price)).toString() + "TL";
                           totalRow[16] = (parseFloat(totalRow[16]) + parseFloat(d.processCount)).toString();  
                        }
                        else if(d.accountDetail == "QNB FinansBank"){
                                row[17] = price + " TL";
                                row[18] = d.processCount.toString();

                                totalRow[17] = (parseFloat(totalRow[17].replace("TL","")) + parseFloat(price)).toString() + "TL";
                                totalRow[18] = (parseFloat(totalRow[18]) + parseFloat(d.processCount)).toString();                         
                        }
                        else if(d.accountDetail == "SAHA"){
                                row[19] = price + " TL";
                                row[20] = d.processCount.toString();

                                totalRow[19] = (parseFloat(totalRow[19].replace("TL","")) + parseFloat(price)).toString() + "TL";
                                totalRow[20] = (parseFloat(totalRow[20]) + parseFloat(d.processCount)).toString();      
                        }
                        else if(d.accountDetail == "TEB"){                            
                                row[21] = price + " TL";
                                row[22] = d.processCount.toString();

                                totalRow[21] = (parseFloat(totalRow[21].replace("TL","")) + parseFloat(price)).toString() + "TL";
                                totalRow[22] = (parseFloat(totalRow[22]) + parseFloat(d.processCount)).toString();
                        }
                        else if(d.accountDetail == "Türkiye Finans"){                           
                                row[23] = price + " TL";
                                row[24] = d.processCount.toString();

                                totalRow[23] = (parseFloat(totalRow[23].replace("TL","")) + parseFloat(price)).toString() + "TL";
                                totalRow[24] = (parseFloat(totalRow[24]) + parseFloat(d.processCount)).toString(); 
                        }
                        else if(d.accountDetail == "VakıfBank"){                           
                                row[25] = price + " TL";
                                row[26] = d.processCount.toString();

                                totalRow[25] = (parseFloat(totalRow[25].replace("TL","")) + parseFloat(price)).toString() + "TL";
                                totalRow[26] = (parseFloat(totalRow[26]) + parseFloat(d.processCount)).toString(); 
                        }
                        else if(d.accountDetail == "Yapı Kredi Bankası"){                           
                                row[27] = price + " TL";
                                row[28] = d.processCount.toString();

                                totalRow[27] = (parseFloat(totalRow[27].replace("TL","")) + parseFloat(price)).toString() + "TL";
                                totalRow[28] = (parseFloat(totalRow[28]) + parseFloat(d.processCount)).toString();
                        }
                        else if(d.accountDetail == "Ziraat Bankası"){                            
                                row[29] = price + " TL";
                                row[30] = d.processCount.toString();

                                totalRow[29] = (parseFloat(totalRow[29].replace("TL","")) + parseFloat(price)).toString() + "TL";
                                totalRow[30] = (parseFloat(totalRow[30]) + parseFloat(d.processCount)).toString();
                        }
                        else if(d.accountDetail == "İş Bankası"){                           
                                row[31] = price + " TL";
                                row[32] = d.processCount.toString();

                                totalRow[31] = (parseFloat(totalRow[31].replace("TL","")) + parseFloat(price)).toString() + "TL";
                                totalRow[32] = (parseFloat(totalRow[32]) + parseFloat(d.processCount)).toString();                         
                        }

                        row[33] = toplam.toString() + " TL";
                        row[34] = islemAdediToplam.toString();

                        totalRow[33] = (parseFloat(totalRow[33].replace("TL","")) + parseFloat(price)).toString() + "TL";
                        totalRow[34] = (parseFloat(totalRow[34]) + parseFloat(d.processCount)).toString();
                    }

                    if(i == data.length-1)
                    {
                        dataset.push(row);
                        dataset.push(totalRow);
                    }
                });

                var appendtr = "<tr>";
                appendtr += "<th>Hesap Adı</th>";
                for (var i=0; i <16; i++)
                {
                  appendtr += "<th>Gelir Toplamı</th>";
                  appendtr += "<th>İşlem Adedi Toplamı</th>";
                }
                appendtr += "<th>Toplam Tutar</th><th>İşlem Adedi</th><th>Satır No</th></tr>";

                $("#reportTable thead").append(appendtr);

                if($("#reportTable tbody").length > 0){
                    table.rows().remove().draw();
                    table.rows.add(dataset).draw();
                }
                else{
                    $.noConflict();
                    table = $('#reportTable').DataTable( {
                          "scrollX": true,
                           buttons: [
                                 'copy', 'csv', 'excel', 'pdf', 'print'
                          ],
                          "order": [[ 35, 'desc' ]],
                           data: dataset,
                           columnDefs: [
                                {
                                    targets: alignments,
                                    className: 'dt-body-right'
                                },
                                {
                                    targets: 0,
                                    className: 'dt-body-left',
                                    width: 300
                                },
                                {
                                     targets: 35,
                                     visible:false
                                }
                           ],
                           deferLoading: 57
                      });

                    table.on('order.dt search.dt', function () {
                              let i = 1;
 
                           table.cells(null, 35, { search: 'applied', order: 'applied' }).every(function (cell) {
                           this.data(i++);
                      });
                    }).draw();
                }
            }
        });
      }

    function draw(Id){
        var btcChartjs = document.getElementById(Id).getContext("2d");
        // Create Linear Gradient
        var blue_trans_gradient = btcChartjs.createLinearGradient(0, 0, 0, 100);
        blue_trans_gradient.addColorStop(0, "rgba(255, 145, 73,0.4)");
        blue_trans_gradient.addColorStop(1, "rgba(255,255,255,0)");
        // Chart Options
        var BTCStats = {
              responsive: true,
              maintainAspectRatio: false,
              datasetStrokeWidth: 3,
              pointDotStrokeWidth: 4,
              tooltipFillColor: "rgba(255, 145, 73,0.8)",
              legend: {
                display: false
              },
              hover: {
                mode: "label"
              },
              scales: {
                xAxes: [
                  {
                    display: false
                  }
                ],
                yAxes: [
                  {
                    display: false,
                    ticks: {
                      min: 0,
                      max: 85
                    }
                  }
                ]
              },
              title: {
                display: false,
                fontColor: "#FFF",
                fullWidth: false,
                fontSize: 30,
                text: "52%"
              }
        };

        // Chart Data
        var BTCMonthData = {
              labels: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul"],
              datasets: [
                {
                  label: "BTC",
                  data: [20, 18, 35, 60, 38, 40, 70],
                  backgroundColor: blue_trans_gradient,
                  borderColor: "#FF9149",
                  borderWidth: 1.5,
                  strokeColor: "#FF9149",
                  pointRadius: 0
                }
              ]
        };

        var BTCCardconfig = {
          type: "line",

          // Chart Options
          options: BTCStats,

          // Chart Data
          data: BTCMonthData
        };

        // Create the chart
        var BTCAreaChart = new Chart(btcChartjs, BTCCardconfig);
      }
</script>
