@{
    ViewData["Title"] = "Denied Access Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="app-content content">
    <div class="content-overlay"></div>
    <div class="content-wrapper">
        <div class="content-header row">
        </div>
        <div class="content-body">
            <div class="row">
                <section>
                    <div class="row">
                        <div class="col-12">
                           <h4>Bu sayfaya yetkiniz bulunmamaktadır!...</h4>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>