@{
    ViewData["Title"] = "EndDayReport Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <style>
        table.dataTable tbody tr td {
            word-wrap: break-word;
            word-break: break-all;
        }
    </style>
</head>

<div class="app-content content">
    <div class="content-overlay"></div>
    <div class="content-wrapper">
        <div class="content-header row">
        </div>
        <div class="content-body">
            <div class="row" id="tableCard">
                <section id="file-export">
                    <div class="row">
                        <div class="col-sm-2">
                            <input type="date" id="searchDate" name="searchDate" value="@ViewBag.reportmaxdate">
                        </div>
                        <div class="col-sm-1">
                            <button type="button" class="btn btn-success btn-sm" id="searchRecord">
                                <i class="white"></i> Kayıt Ara
                            </button>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header">
                                    <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
                                    <div class="heading-elements">
                                        <ul class="list-inline mb-0">
                                            <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                                            <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                                            <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                                            <li><a data-action="close"><i class="ft-x"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="card-content collapse show">
                                    <div class="card-body card-dashboard dataTables_wrapper dt-bootstrap">
                                        <table id="reportTable" class="table table-striped table-bordered file-export" width="100%">
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>

<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/endDayReport.js"></script>